
body{
  background-color: #1a1c20;
}
.dice {
  height: 100px;
  width: 100px;
  padding-top: 10px;
  padding-left: 29px;
  padding-right: 29px;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  border: 8px solid white;
  border-radius: 14px;  
  font-size:40px;
  background-color: white;
  
}